body {
    background-color: aliceblue;
}
#main {
    width: 1300px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 20px;
}
.craftInfo {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.39);
    border-radius: 5px;
}
.container {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.container1 {
    width: 96%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
hr {
    width: 100%;
    opacity: 0.25;
}
#library_show {
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
#library_add {
    width: 100%;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.075);
    border: 1px dashed gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: red;
    cursor: pointer;
}
#list_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#list_add {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
#list_show {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
#list_delete {
    width: 100%;
    height: 40px;
    background-color: #fceeee;
    border: 1px solid rgba(255, 0, 0, 0.30);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: red;
    cursor: pointer;
}
#editor_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#editor_btn {
    display: flex;
    gap: 10px;
}
#editor_save {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
#editor_remove {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}
#editor_main {
    width: 100%;
    height: 510px;
    border: 2px dashed #dce4eb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#editor_main.drop {
    background-color: aliceblue;
}
#editor_show {
    width: 97%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.libraryNormal {
    width: 98%;
    min-height: 40px;
    background-color: rgba(184, 216, 216, 0.096);
    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: move;
}
.libraryNormal:hover,.libraryNormal.libraryDraging {
    background-color: #0051ff;
    color: white;
}
.listNormal {
    width: 98%;
    min-height: 40px;
    background-color: rgba(184, 216, 216, 0.096);
    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.spanNormal {
    font-size: 15px;
    padding: 10px;
    word-break: break-all;
}
.editorNormal {
    width: 100%;
    height: 50px;
    background-color: rgba(184, 216, 216, 0.096);
    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.editor_delete {
    width: 50px;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: gray;
    cursor: pointer;
}
.input {
    border: none;
    outline: none;
    margin: 0 10px;
    box-sizing: border-box;
    width: 100%;
}